---
schema: pegleg/SoftwareVersions/v1
metadata:
  schema: metadata/Document/v1
  name: software-versions-glance
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: software-versions-global
    actions:
      - method: replace
        path: .images.osh.glance
  storagePolicy: cleartext
data:
  images:
    osh:
      glance:
        test: docker.io/xrally/xrally-openstack:1.3.0
        glance_storage_init: docker.io/port/ceph-config-helper:v1.10.3
        db_init: docker.io/openstackhelm/heat:ocata-ubuntu_xenial
        glance_db_sync: {{ repo_name }}/m-glance:1a1a1a
        db_drop: docker.io/openstackhelm/heat:ocata-ubuntu_xenial
        ks_user: docker.io/openstackhelm/heat:ocata-ubuntu_xenial
        ks_service: docker.io/openstackhelm/heat:ocata-ubuntu_xenial
        ks_endpoints: docker.io/openstackhelm/heat:ocata-ubuntu_xenial
        rabbit_init: docker.io/rabbitmq:3.7-management
        glance_api: {{ repo_name }}/m-glance:1a1a1a
        glance_registry: {{ repo_name }}/m-glance:1a1a1a
        # Bootstrap image requires curl
        bootstrap: docker.io/openstackhelm/heat:ocata-ubuntu_xenial
        dep_check: quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        image_repo_sync: docker.io/docker:17.07.0
...

