---
schema: pegleg/SoftwareVersions/v1
metadata:
  schema: metadata/Document/v1
  name: software-versions-nova
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: software-versions-global
    actions:
      - method: replace
        path: .images.osh.nova
  storagePolicy: cleartext
data:
  images:
    osh:
      nova:
        bootstrap: docker.io/openstackhelm/heat:ocata-ubuntu_xenial
        db_drop: docker.io/openstackhelm/heat:ocata-ubuntu_xenial
        db_init: docker.io/openstackhelm/heat:ocata-ubuntu_xenial
        dep_check: 'quay.io/stackanetes/kubernetes-entrypoint:v0.3.1'
        rabbit_init: docker.io/rabbitmq:3.7-management
        ks_user: docker.io/openstackhelm/heat:ocata-ubuntu_xenial
        ks_service: docker.io/openstackhelm/heat:ocata-ubuntu_xenial
        ks_endpoints: docker.io/openstackhelm/heat:ocata-ubuntu_xenial
        nova_api: {{ repo_name }}/m-nova:hash-1a1a1a
        nova_cell_setup: {{ repo_name }}/m-nova:hash-1a1a1a
        nova_cell_setup_init: docker.io/openstackhelm/heat:ocata-ubuntu_xenial
        nova_compute: {{ repo_name }}/m-nova:hash-1a1a1a
        nova_compute_ironic: 'docker.io/kolla/ubuntu-source-nova-compute-ironic:ocata'
        nova_compute_ssh: {{ repo_name }}/m-nova:hash-1a1a1a
        nova_conductor: {{ repo_name }}/m-nova:hash-1a1a1a
        nova_consoleauth: {{ repo_name }}/m-nova:hash-1a1a1a
        nova_db_sync: {{ repo_name }}/m-nova:hash-1a1a1a
        nova_novncproxy: {{ repo_name }}/m-nova:hash-1a1a1a
        nova_novncproxy_assets: 'docker.io/kolla/ubuntu-source-nova-novncproxy:ocata'
        nova_placement: {{ repo_name }}/m-nova:hash-1a1a1a
        nova_scheduler: {{ repo_name }}/m-nova:hash-1a1a1a
        nova_service_cleaner: 'docker.io/port/ceph-config-helper:v1.10.3'
        nova_spiceproxy: {{ repo_name }}/m-nova:hash-1a1a1a
        nova_spiceproxy_assets: 'docker.io/kolla/ubuntu-source-nova-spicehtml5proxy:ocata'
        test: docker.io/xrally/xrally-openstack:1.3.0
        image_repo_sync: docker.io/docker:17.07.0
...

